<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=35;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    
<identity impersonate="true" />
   
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <authorization>
      <allow roles="User"/>
    </authorization>
    <authentication mode="Windows"/>
    <identity impersonate="true"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="MBASQLConnection" connectionString="Data Source=MBASQL;Integrated Security=false;User ID=Internaluser;Password=Mba123456;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
    <add name="BridgeConnectionString" connectionString="Data Source=MBASQL;Initial Catalog=Bridge;Integrated Security=false;User ID=Internaluser;Password=Mba123456;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
    <add name="BridgeConnectionString2" connectionString="Data Source=MBASQL;Initial Catalog=Bridge;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="BridgeConnectionString3" connectionString="Data Source=MBASQL;Initial Catalog=Bridge;Integrated Security=False;User ID=Internaluser;Password=Mba123456;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
    <!-- <add name="Welland_ExportConnectionString" connectionString="Data Source=MBASQL;Initial Catalog=Welland_Export;Integrated Security=True" providerName="System.Data.SqlClient"/>
   -->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FsvRemoteServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="FsvRemoteServiceSoap1" />
        <binding name="FsvRemoteServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="FsvRemoteServiceSoap3" />
        <binding name="FsvRemoteServiceSoap4">
          <security mode="Transport" />
        </binding>
        <binding name="FsvRemoteServiceSoap5" />
      </basicHttpBinding>
      <customBinding>
        <binding name="FsvRemoteServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="FsvRemoteServiceSoap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="FsvRemoteServiceSoap122">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://portalstage.paychekplus.com/fsvremote//services/fsvremote"
        binding="basicHttpBinding" bindingConfiguration="FsvRemoteServiceSoap"
        contract="UATRapid.FsvRemoteServiceSoap" name="FsvRemoteServiceSoap" />
      <endpoint address="https://portal.paychekplus.com/fsvremote///services/fsvremote"
        binding="basicHttpBinding" bindingConfiguration="FsvRemoteServiceSoap2"
        contract="PRORapid.FsvRemoteServiceSoap" name="FsvRemoteServiceSoap1" />
      <endpoint address="https://sp.clientaccesssite.com/fsvremote///services/fsvremote"
        binding="basicHttpBinding" bindingConfiguration="FsvRemoteServiceSoap4"
        contract="PRORapid2.FsvRemoteServiceSoap" name="FsvRemoteServiceSoap2" />
    </client>
  </system.serviceModel>
</configuration>